<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Library System</title>
  <!-- Bootstrap 4.5 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="m-5">
      <h1>Simple Library System</h1>
      <div class="card">
        <div class="card-body">
          <div class="float-right my-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal">
              Add Book
            </button>
            <div class="modal" tabindex="-1" id="addBookModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="/addbook" id="addBookForm">
                      <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title">
                      </div>
                      <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" class="form-control" name="author" placeholder="Author">
                      </div>
                      <div class="form-group">
                        <label for="genre">Genre</label>
                        <input type="text" class="form-control" name="genre" placeholder="Genre">
                      </div>
                      <div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Genre</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% books.forEach(function(book, i){ %>
                <div class="modal" tabindex="-1" id="editBookModal<%= i+1 %>">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Edit Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="<%= `/editbook/${book._id}?_method=PUT` %>" method="POST" id="editBookForm<%= i+1 %>">
                          <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" value="<%= book.title %>">
                          </div>
                          <div class="form-group">
                            <label for="author">Author</label>
                            <input type="text" class="form-control" name="author" value="<%= book.author %>">
                          </div>
                          <div class="form-group">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" name="genre" value="<%= book.genre %>">
                          </div>
                          <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              <tr>
                <td><%= i+1 %></td>
                <td><%= book.title %></td>
                <td><%= book.author %></td>
                <td><%= book.genre %></td>
                <td>
                  <form action="/deletebook/<%= book._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger float-right mr-3" >Delete</button>
                  </form>
                  <button type="button" class="btn btn-primary float-right mr-3" data-toggle="modal" data-target="#editBookModal<%= i+1 %>">Edit</button>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script>
  </script>
</body>
</html>